[Unit]
Description=Contact Submitter Serivce
Wants=network-online.target
After=network-online.target

[Service]
User=deploy
Group=deploy
Type=simple
Environment= WORKERS=32
ExecStart=/usr/bin/node {{ app_dir }}/contact_submitter/dist/worker.js

Restart=on-failure

[Install]
WantedBy=multi-user.target
