[Unit]
Description=Contact submitter gateway
After=network.target

[Service]
User=deploy
Group=deploy
Type=simple
ExecStart=/usr/bin/node {{ app_dir }}/gateway/dist/index.js

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target