[Unit]
Description=Contact submitter gateway
After=network.target

[Service]
User=ubuntu
Group=ubuntu
Type=simple
ExecStart=/usr/local/bin/node {{ app_dir }}/gateway/dist/index.js

Restart=always
RestartSec=3

[Install]
WantedBy=multi-user.target