[Unit]
Description=StreamX Importer - report job

[Service]
Type=oneshot
WorkingDirectory={{ app_dir }}/streamx_importer
ExecStart=/usr/bin/node dist/report.js
User=deploy
Group=deploy
Environment=NODE_ENV=production
